html,body,body > div.row > div{
  height: 100%;
}

body > div.row {
  margin-left: 10px;
  height: 100%;
}

#desk button {
  position: absolute;
  right: 100px;
  bottom: 50px;
}

#panel {
  border : 1px solid black;
  border-radius : 10%;
  padding: 20px;
}

.box {
  border : 1px solid black;
  height : 50px;
  text-align : center;
  padding-top : 10px;
}

.var_box  {
  border : 1px solid black;
  height : 50px;
  text-align : center;
  padding-top : 10px;
  border-radius : 40%;
}