<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<%
var obj = $.parseJSON(json_table);
var names = [];
var name;

var v = 0;
for (var k in obj.variables)
{
  name = obj.variables[k].txt;
  names.push(name);
}

%>

<div class='row'>
  <div id='panel' class='col-md-2'>
    <%= this.DeferRender('panel', {'names' : names}) %>
  </div>
  <div id='desk' class='col-md-8'>
    <%= this.DeferRender('desk', {}) %>
  </div>
  <div id='table' class='col-md-2'>
    <b id='error' style='color: red'></b>
    <%= this.DeferRender('table', {'names' : names, 'rows' : obj.rows}) %>
  </div>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" language='javascript'></script>
<link href="main.css" rel="stylesheet" media="screen">