<div class='row'>
<%
this.names.pop();
  for (var k in this.names)
  {
%>
  <div class='col-md-12 var_box'><%= this.names[k] %></div>
<%
  }
%>
  <div class='col-md-6 box'>0</div>
  <div class='col-md-6 box'>1</div>
</div>

<%
this.Defer(function()
{
  MakeDraggable(
    this
      .first()
      .children()
      .css
      ({
        'margin-bottom' : '5px',
      })
    );

  function MakeDraggable( obj )
  {
    obj.draggable(
    { 
      helper: "clone",
      appendTo: "#desk",
      start: function(event, ui) 
      {
        ui.helper.css({'width' : 'initial'});
      },
      stop: function(event, ui) 
      {
        ui.helper
          .html(phoxy.DeferRender('desk_element', {label: ui.helper.html()}));
        var element = $(this);
        __context.Defer(function()
        {
          element.draggable( "destroy" );
          MakeDraggable(element);
        });
        return false;
      }
    });
  }
});
%>