<div class='row'>
<%
this.names.pop();
this.names.push(0, 1);
  for (var k in this.names)
  {
%>
  <div class='col-md-4'><%= this.names[k] %></div>
<%
  }
%>
</div>

<%
this.Defer(function()
{
  MakeDraggable(
    this
      .first()
      .children()
    );

  function MakeDraggable( obj )
  {
    obj.draggable(
    { 
      helper: "clone",
      appendTo: "#desk",
      stop: function(event, ui) 
      {
        ui.helper
          .html(phoxy.DeferRender('desk_element', {label: ui.helper.html()}));
        var element = $(this);
        __context.Defer(function()
        {
          element.draggable( "destroy" );
          MakeDraggable(element);
        });
        return false;
      }
    });
  }
});
%>