<button class='btn'>Submit</button>

<%
function eid( str )
{
  return str.substring(6);
}

this.Defer(function()
{
  this
    .first()
    .click(function()
    {
      var root = $(this).parent();
      
      
      var ret_e = [], ret_c = [];
      
      var elements = 
        root
          .find('div.ui-draggable')
          .each(function()
          {
            var id = $(this).attr('id');
            ret_e.push({id : eid(id), txt : $(this).find('b').html()});

            var 
              tr = $(this).attr('link_true'),
              fl = $(this).attr('link_false');
            
            if (tr)
              ret_c.push({nodeA: eid(id), nodeB : eid(tr), type : 'true'});
            if (fl)
              ret_c.push({nodeA: eid(id), nodeB : eid(fl), type : 'false'});
          });
      
      var post_object = {'nodes' : ret_e, 'connections' : ret_c};
      $.post('', JSON.stringify(post_object), null, 'text');
    });
});
%>